<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 조회</title>
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="app" class="post-container">
      <!-- 내비게이션 바 -->
      <navbar-component></navbar-component>

      <!-- 게시글 상단부 -->
      <template v-if="post">
        <div class="post-title-area">
          <h1 class="post-title">{{ post.title }}</h1>
          <div class="post-info">
            <div>
              <span class="author">{{ post.author }}</span>
              <span class="separator"></span>
              <span>작성일: {{ post.formattedCreatedAt }}</span>
              <template v-if="post.isUpdated">
                <span class="separator"></span>
                <span>(수정일: {{ post.formattedUpdatedAt }})</span>
              </template>
            </div>
            <div>
              <span>조회수: {{ post.viewCount }}</span>
              <span class="separator"></span>
              <span>추천수: {{ post.likeCount }}</span>
            </div>
          </div>
        </div>

        <!-- 게시글 내용 -->
        <div class="post-content">{{ post.content }}</div>

        <!-- 좋아요 버튼 -->
        <div class="like-section">
          <button type="button" class="like-button" @click="toggleLike">
            <img :src="getLikeIconSrc()" alt="좋아요" />
            <span>좋아요</span>
            <span class="like-count">{{ post.likeCount }}</span>
          </button>
        </div>

        <!-- 첨부파일 목록 -->
        <div class="post-files">
          <h3>첨부파일</h3>
          <template v-if="post.files && post.files.length > 0">
            <ul class="file-list">
              <li v-for="file in post.files" :key="file.fileId">
                <img
                  :src="getFileIconSrc(file.fileType)"
                  :alt="file.originalFileName"
                  class="file-icon"
                />
                <a
                  :href="getFileDownloadUrl(file.fileId)"
                  :download="file.originalFileName"
                  >{{ file.originalFileName }}</a
                >
                <span class="file-size-info"
                  >({{ formatFileSize(file.fileSize) }})</span
                >
              </li>
            </ul>
          </template>
          <template v-else>
            <p class="no-files-message">첨부파일이 없습니다.</p>
          </template>
        </div>

        <!-- 수정, 삭제, 목록으로 버튼 -->
        <div class="post-actions">
          <button
            type="button"
            class="action-button edit-button"
            @click="editPost(post.postId)"
          >
            수정
          </button>
          <button
            type="button"
            class="action-button delete-button"
            @click="deletePost"
          >
            삭제
          </button>
          <a href="/posts" class="action-button list-button">목록으로</a>
        </div>

        <!-- 댓글 목록 -->
        <div class="comments-section">
          <h2>댓글</h2>

          <ul class="comment-list">
            <template v-if="comments.length > 0">
              <li
                v-for="comment in comments"
                :key="comment.commentId"
                class="comment-item"
              >
                <div class="comment-author">{{ comment.author }}</div>
                <div class="comment-content">{{ comment.content }}</div>
                <div class="comment-meta">
                  <span>{{ comment.formattedCreatedAt }}</span>
                  <div class="comment-actions">
                    <button
                      type="button"
                      class="delete-comment-button"
                      @click="deleteComment(comment.commentId)"
                    >
                      삭제
                    </button>
                  </div>
                </div>
              </li>
            </template>
            <template v-else-if="!loadingComments">
              <p class="no-comments-message">
                아직 댓글이 없습니다. 첫 댓글을 작성해보세요!
              </p>
            </template>
          </ul>

          <!-- 다음 댓글 페이지 가져오기 -->
          <div class="load-more-comments-container" v-if="hasMoreComments">
            <button
              type="button"
              class="action-button list-button"
              @click="fetchComments"
              :disabled="loadingComments"
            >
              {{ loadingComments ? '로딩 중...' : '댓글 더 보기' }}
            </button>
          </div>

          <!-- 댓글 입력 창 -->
          <div class="comment-form">
            <h3>댓글 작성</h3>
            <textarea
              v-model="newCommentContent"
              placeholder="댓글을 입력하세요..."
            ></textarea>
            <button type="button" @click="addComment">등록</button>
          </div>
        </div>
      </template>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
      import Navbar from "/components/Navbar.js";

      const { createApp, ref, onMounted } = Vue;

      createApp({
        components: {
          "navbar-component": Navbar,
        },

        setup() {
          const post = ref(null);
          const postId = window.location.pathname.split("/").pop();
          const hasLike = ref(false);
          const comments = ref([]);
          const newCommentContent = ref("");

          const lastCommentId = ref(0);
          const pageSize = ref(5);
          const hasMoreComments = ref(true);
          const loadingComments = ref(false);

          const accessToken = localStorage.getItem("accessToken");

          // 게시글 목록 불러오기
          const fetchPost = async () => {
            try {
              const response = await fetch(`/api/posts/${postId}`);
              const data = await response.json();

              // 성공
              if (response.ok) {
                post.value = data;
              }
              // 존재하지 않거나 삭제된 게시글에 접근하려는 경우
              else if ([403, 404].includes(response.status)) {
                const params = new URLSearchParams({
                  code: data.statusCode || response.status,
                  title: data.errorPageTitle || "오류 발생",
                  message: data.message || "알 수 없는 오류가 발생했습니다.",
                });
                window.location.href = `/error-page?${params.toString()}`;
              }
              // 기타 오류
              else {
                console.error("게시글 조회 중 오류가 발생했습니다.");
                post.value = null;
              }
            } catch (error) {
              console.error(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다.",
                error
              );
              post.value = null;
            }
          };

          // 좋아요 여부 확인
          const checkLike = async () => {
            try {
              const response = await fetch(`/api/posts/${postId}/like/check`);
              const isLiked = await response.json();
              hasLike.value = response.ok ? isLiked : false;
            } catch (error) {
              console.error("좋아요 상태 확인 중 네트워크 에러 발생:", error);
              hasLike.value = false;
            }
          };

          // 댓글 목록 불러오기
          const fetchComments = async () => {
            if (!hasMoreComments.value || loadingComments.value) return;

            loadingComments.value = true;

            try {
              const response = await fetch(
                `/api/posts/${postId}/comments?cursor=${lastCommentId.value}`
              );
              const data = await response.json();

              // 성공
              if (response.ok) {
                comments.value = [...comments.value, ...data]; // 댓글 목록 이어 붙이기

                hasMoreComments.value = data.length === pageSize.value;
                if (hasMoreComments.value) {
                  lastCommentId.value = data[data.length - 1].commentId; // 커서 지정
                }
              }
              // 기타 오류 발생
              else {
                console.error("댓글 목록 조회 중 오류가 발생했습니다.");
                hasMoreComments.value = false;
              }
            } catch (error) {
              console.error(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다.",
                error
              );
              hasMoreComments.value = false;
            } finally {
              loadingComments.value = false;
            }
          };

          onMounted(() => {
            fetchPost();
            checkLike();
            fetchComments();
          });

          const getFileDownloadUrl = (fileId) => `/api/files/${fileId}`;

          // 파일 크기 포매팅
          const formatFileSize = (bytes) => {
            if (bytes === 0) return "0 Bytes";
            const k = 1024;
            const sizes = ["Bytes", "KB", "MB", "GB", "TB"];
            const i = Math.floor(Math.log(bytes) / Math.log(k));
            return (
              parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + " " + sizes[i]
            );
          };

          // 파일 아이콘 설정
          const getFileIconSrc = (fileType) => {
            if (fileType.startsWith("image/")) return "/icons/image.svg";
            if (fileType === "application/pdf") return "/icons/pdf.svg";
            if (
              fileType.includes("wordprocess") ||
              fileType.includes("officedocument.wordprocessingml")
            )
              return "/icons/word.svg";
            if (
              fileType.includes("excel") ||
              fileType.includes("spreadsheet") ||
              fileType.includes("officedocument.spreadsheetml")
            )
              return "/icons/excel.svg";
            if (
              fileType.includes("powerpoint") ||
              fileType.includes("presentation") ||
              fileType.includes("officedocument.presentationml")
            )
              return "/icons/ppt.svg";
            if (
              fileType === "application/zip" ||
              fileType === "application/x-zip-compressed" ||
              fileType === "application/vnd.rar"
            )
              return "/icons/zip.svg";
            return "/icons/file.svg";
          };

          // 좋아요 아이콘 설정
          const getLikeIconSrc = () =>
            hasLike.value ? "/icons/heart.svg" : "/icons/empty-heart.svg";

          // 사용자 인증 정보를 확인하는 함수
          const handleAuthError = (result) => {
            if (result.errorCode === "EXPIRED_ATK") {
              alert("인증이 만료되었습니다. 다시 로그인해주세요.");
              localStorage.removeItem("accessToken");
              window.location.href = "/login";
              return true;
            }
            return false;
          };

          // 좋아요 버튼을 누른 경우
          const toggleLike = async () => {
            if (!accessToken) {
              alert("로그인 후 좋아요를 누를 수 있습니다.");
              window.location.href = "/login";
              return;
            }

            const method = hasLike.value ? "DELETE" : "POST";
            try {
              const response = await fetch(`/api/posts/${postId}/like`, {
                headers: { Authorization: accessToken },
                method: method,
              });
              const result = await response.json();

              // 성공
              if (response.ok) {
                hasLike.value = !hasLike.value;
                await fetchPost();
              }
              // 로그인 정보가 없는 경우
              else if (!handleAuthError(result)) {
                alert("페이지 새로고침 후 다시 시도해주세요.");
              }
            } catch (error) {
              // 기타 오류
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
            }
          };

          // 수정 버튼 클릭 시
          const editPost = async () => {
            if (!accessToken) {
              alert("로그인이 필요합니다.");
              window.location.href = "/login";
              return;
            }
            try {
              const response = await fetch(
                `/api/posts/${postId}/author/check`,
                {
                  headers: { Authorization: accessToken },
                  method: "GET",
                }
              );
              const isAuthor = await response.json();

              if (response.ok && isAuthor) {
                window.location.href = `/posts/${postId}/edit`;
              } else if (!handleAuthError(isAuthor)) {
                alert("다른 유저의 게시글은 수정할 수 없습니다.");
              }
            } catch (error) {
              console.error(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다.",
                error
              );
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
            }
          };

          // 삭제 버튼 클릭 시
          const deletePost = async () => {
            if (!accessToken) {
              alert("로그인이 필요합니다.");
              window.location.href = "/login";
              return;
            }
            try {
              const checkAuthorResponse = await fetch(
                `/api/posts/${postId}/author/check`,
                {
                  headers: { Authorization: accessToken },
                  method: "GET",
                }
              );
              const isAuthor = await checkAuthorResponse.json();

              if (!checkAuthorResponse.ok || !isAuthor) {
                if (!handleAuthError(isAuthor)) {
                  alert("다른 유저의 게시글은 삭제할 수 없습니다.");
                }
                return;
              }
            } catch (error) {
              console.error(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다.",
                error
              );
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
              return;
            }

            if (!confirm("정말로 이 게시글을 삭제하시겠습니까?")) return;

            try {
              const response = await fetch(`/api/posts/${postId}`, {
                headers: { Authorization: accessToken },
                method: "DELETE",
              });
              const result = await response.json();

              if (response.ok) {
                alert("게시글이 삭제되었습니다.");
                window.location.href = "/posts";
              } else if (!handleAuthError(result)) {
                if (
                  response.status === 403 &&
                  result.errorCode === "CANNOT_DELETE_OTHERS_POST"
                ) {
                  alert("다른 유저의 게시글을 삭제할 수 없습니다.");
                } else {
                  alert("페이지 새로고침 후 다시 시도해주세요.");
                }
              }
            } catch (error) {
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
            }
          };

          const addComment = async () => {
            if (!accessToken) {
              alert("댓글을 작성하려면 로그인해야 합니다.");
              window.location.href = "/login";
              return;
            }
            if (newCommentContent.value.trim() === "") {
              alert("댓글 내용을 입력해주세요.");
              return;
            }

            try {
              const response = await fetch(`/api/posts/${postId}/comments`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  Authorization: accessToken,
                },
                body: JSON.stringify({ content: newCommentContent.value }),
              });
              const result = await response.json();

              if (response.ok) {
                alert("댓글이 성공적으로 작성되었습니다.");
                newCommentContent.value = "";
                comments.value = [];
                lastCommentId.value = 0;
                hasMoreComments.value = true;
                await fetchComments();
              } else if (!handleAuthError(result)) {
                if (response.status === 403) {
                  alert("댓글 작성 권한이 없습니다.");
                } else {
                  alert(
                    "댓글 작성 중 오류가 발생했습니다. 페이지 새로고침 후 다시 시도해주세요."
                  );
                  console.error("댓글 작성 실패:", result);
                }
              }
            } catch (error) {
              console.error("댓글 작성 중 네트워크 에러 발생:", error);
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
            }
          };

          const deleteComment = async (commentId) => {
            if (!accessToken) {
              alert("댓글을 삭제하려면 로그인해야 합니다.");
              window.location.href = "/login";
              return;
            }
            if (!confirm("정말로 이 댓글을 삭제하시겠습니까?")) return;

            try {
              const response = await fetch(`/api/comments/${commentId}`, {
                method: "DELETE",
                headers: { Authorization: accessToken },
              });
              const result = await response.json();

              if (response.ok) {
                alert("댓글이 삭제되었습니다.");
                comments.value = [];
                lastCommentId.value = 0;
                hasMoreComments.value = true;
                await fetchComments();
              } else if (!handleAuthError(result)) {
                if (response.status === 403) {
                  alert("다른 유저의 댓글을 삭제할 수 없습니다.");
                } else if (response.status === 404) {
                  alert("삭제할 댓글을 찾을 수 없습니다.");
                } else {
                  alert(
                    "댓글 삭제 중 오류가 발생했습니다. 페이지 새로고침 후 다시 시도해주세요."
                  );
                  console.error("댓글 삭제 실패:", result);
                }
              }
            } catch (error) {
              console.error("댓글 삭제 중 네트워크 에러 발생:", error);
              alert(
                "네트워크 오류 또는 서버 응답 처리 중 문제가 발생했습니다."
              );
            }
          };

          return {
            post,
            comments,
            newCommentContent,
            hasMoreComments,
            loadingComments,
            getFileDownloadUrl,
            formatFileSize,
            getFileIconSrc,
            getLikeIconSrc,
            toggleLike,
            editPost, // 함수 이름 유지
            deletePost, // 함수 이름 유지
            addComment,
            deleteComment,
            fetchComments,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
